body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .ui.menu{
  margin: 0;
} */

.welcome.segment{
  margin: 0;
}

.welcome_message{
  padding-top: 2em;
  padding-bottom: 3em;
  /* background-color: #404879; */
}
